// COLORS
$primary = #719125
$secondary = #f89c73
$lightaccent = #e2dbc9
$darkaccent = #484848
$accent = #8c9eff
$error = #b71c1c
$info = #2196F3
$success = #4CAF50
$warning = #FFC107
$light = #FFFEEC

// FONTS
@font-face
	font-family FilsonSoft
	font-style normal
	src url('../assets/fonts/FilsonSoftRegular.otf')

@font-face
	font-family LoveYa
	font-style normal
	src url('../assets/fonts/LoveYaLikeASister.ttf')

// GLOBAL OVERRIDES
// $body-font-family = 'FilsonSoft' !important
$heading-font-family = 'FilsonSoft' !important
$love-ya = LoveYa

// TEXT STYLES
h1, h2, h3, h4, h5, h6, p
	text-align center
	color $darkaccent

.titles
	text-align center
	font-family FilsonSoft

.ly
	font-family $love-ya
	font-size 1.3em

.is-left
	text-align left

.bm-h1
	@extend .titles
	font-weight 300
	font-size 42px

	&.ly
		font-size 50px

	&.smaller
		font-size 1.2em

.bm-h2
	@extend .titles
	font-size 2em
	font-weight 300

.bm-h3
	@extend .titles
	font-size 1.5em
	font-weight 300

.bm-pretitle
	@extend .titles
	text-transform uppercase
	letter-spacing 0.06em
	font-size 0.9em
	font-weight 400

.bm-subtitle
	@extend .titles
	font-size 1.2em
	font-weight 600

.bm-card-title
	@extend .titles
	font-size 1.2em

.bm-card-text
	@extend .titles

.reduced-line
	line-height 1.6em

// .bm-h3, .bm-before-title
// text-transform uppercase
// letter-spacing 0.06em
// font-size 0.8em
// font-weight 400
// .bm-after-title, .bm-aligned
// text-align center
// .bm-section-header
// text-align center
// font-size 1.8em
// color $darkaccent

// .bm-title
// font-weight 300
// font-size 2em
// text-align center

// &.smaller
// font-size 1.2em

// .bm-subtitle
// text-transform uppercase
// letter-spacing 0.06em
// font-size 0.8em
// font-weight 400

// UTILS
.shadowed
	text-shadow 2px 2px 3px hsla(0, 0.9, 0.8, 0.4)

.image-filter
	position absolute
	opacity 0.5
	width 100%
	height 100%
	top 0px

	&.darker
		opacity 0.25

// TRANSITIONS
.slide-left-enter-active, .slide-left-leave-active, .slide-right-enter-active, .slide-right-leave-active
	transition-duration 0.3s
	transition-property height, opacity, transform
	transition-timing-function cubic-bezier(0.55, 0, 0.1, 1)
	overflow hidden

.slide-left-enter, .slide-right-leave-active
	opacity 0
	transform translate(2em, 0)

.slide-left-leave-active, .slide-right-enter
	opacity 0
	transform translate(-2em, 0)

// ARCHIVES FOR NOW
.love-ya
	font-family 'Love Ya Like A Sister'

@import '~vuetify/src/stylus/main'
